* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

Body {
  background: url('img/fondo.jpg') no-repeat;
  background-size: cover;
  font-family: 'Century Gothic', sans-serif;
}

.box {
 width: 1800px;
 background: rgba(0, 0, 0, .5);
 Margin: 0 auto;
 margin-top: 4%;
 padding: 20px;
 color: #e9b80c;
 text-align: center;

}

#foto {
  border-radius: 50%;
}

.box h6 {
font-size: 50px;
letter-spacing: 4px;
font-weight: 100;
}

.box h3 {
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 100
  color:
}
.box lu {
text-align: center;  
}
