* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

Body {
  background: url('img/fondo.jpg') no-repeat;
  background-size: cover;
  font-family: 'Century Gothic', sans-serif;
}

.box {
 width: 1800px;
 background: rgba(0, 0, 0, .5);
 Margin: 0 auto;
 margin-top: 4%;
 padding: 20px;
 color: #e9b80c;
 text-align: center;

}

#foto {
  border-radius: 50%;
}

.box h6 {
font-size: 50px;
letter-spacing: 4px;
font-weight: 100;}

.box h3 {
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 100
  color:}


.box lu {
text-align: center;}

.titulo {font-size: 35px;
color: #f0cc8e;
text-align: center;}

.info {font-size: 29px;
color: white;
text-align: center;}

.h2 {font-size: 18px;
color: #e9b80c}

.hobbies{font-size: 26px;
color: #ffab38  ;
text-align: center }


.texto { font-size: 20px;
  color: #fce9ab;}


.mipersona {font-size: 18px;
  color: #7ebcd7;
text-align: center;}

.images { text-align: center;}

.series{font-size: 26px;
  color:#ffab38;
  text-align: center;}


.videogames {font-size: 26px;
color:#ffab38;
text-align: center;}

.games {font-size: 20px;
color:#76d84b;
text-align: center;}

.tabla {color:#fdb168;
text-align: center;
font-family:'Lucida Console', monospace; }
